@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: #ffffff !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}

.w-48{
    width: 49.5%!important;
}

.bd-radius{
    border-radius: 10px !important;
}

.h-5rem{
    height: 5rem;
}
.w-80{
    width: 80%;
}
.w-45{
    width: 45% !important;
}
.margin-2_2{
    margin:2.2% !important;
}

.bg-grey{
    background-color:#d9d9d9 !important;
}
.bg-white{
    background-color:#fff !important;
}

.font-fam{
    font-family: 'Montserrat', sans-serif !important;
}
.font-14{
    font-size: 14px !important;
}
.font-16{
    font-size: 16px !important;
}
.font-20{
    font-size: 20px;
}
.font-24{
    font-size: 24px;
}
.font-32{
    font-size: 32px;
}
.font-36{
    font-size: 36px;
}
.font-100{
    font-size: 100px;
}
.font-strong{
    font-weight: bold;
}
.font-semibold{
    font-weight: 600;
}
.big-image{
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color:#d9d9d9;
    width:  80%;
    height: 80%;
}

.white-font{
    color:#fff!important;
}

.black-font{
    color:#000!important;
}

.center{
    display: flex !important;
    align-items: center !important;
}

.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.max-width-100{
    max-width: 100% !important;
}
.max-width-90{
    max-width: 90% !important;
}
.max-width-80{
    max-width: 80% !important;
}
.max-width-70{
    max-width: 70% !important;
}
.max-width-60{
    max-width: 60% !important;
}
.max-width-50{
    max-width: 50% !important;
}
.padding-left-rem-4{
    padding-left: 4rem !important;
}

.footer{
    font-size:18px;
}

.footer-color-1{
    background-color:#00454c;
}

.size70{
    font-size:70px;
}

.big{
    height: 10rem !important;
}

.small{
    height: 2.5rem !important;
}

.cinza{
    background-color: #ffffff !important;
}

.bold-text{
    font-weight: bold !important;
}

.scroller{
    display: flex;
    overflow-x: auto;
}

.text-overflow{
    text-overflow: ellipsis !important;
}

.padding-small{
    padding: .25rem !important;
}
.margin-medium{
    margin: 1rem !important;
}
.margin-top-big{
    margin-top: 2rem !important;
}
.margin-top-medium{
    margin-top: 1rem !important;
}
.margin-top-small{
    margin-top: 0.75rem !important;
}
.margin-left-medium{
    margin-left: 1rem !important;
}
.margin-right-small{
    margin-right: 0.5rem !important;
}
.margin-right-medium{
    margin-right: 1rem !important;
}
.margin-sides-medium{
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.no-margin-bottom{
    margin-bottom:0px !important;
}
.padding-sides-medium{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.padding-sides-big{
    padding-right: 1.75rem !important;
    padding-left: 1.75rem !important;
}

.no-border-color{
    border-color: transparent !important;
}

.no-round-right{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.card-img{
    width:290px;
    height:290px;
}

.card{
    height:480px!important;
    max-height:480px!important;
    min-width: 300px !important;
    background-color: #d9d9d9 !important;
    border: none !important;;
}
.bg-color{
    background-color: #d9d9d9;
}
.heigh-small{
    min-height: 3px;
}

.no-decor{
    text-decoration: none !important;
}

.logo{
    width: 100px;
    height: 100px;
}

.letra-menu{
    font-size: 26px !important;
}

.icon-40{
    font-size: 40px !important;
}

.icon-30{
    font-size: 30px !important;
}

.align-c{
    display: flex !important;
    align-items: center !important;
}

.btn-invis{
    background-color: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.image_size { 
    max-width: 45px; 
    min-width: 45px;
}
.modal_overlay {
    background-color: rgba(0,0,0,.18);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.modal--isOpen {
    visibility: visible !important;
}

.modal_wrapper_left {
    position: fixed;
    top: 0;
    left: -650px; /* Start off-screen */
    width: 650px;
    height: 100%;
    background-color: #fff;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10002;
    opacity: 1;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.modal_wrapper_left.show {
    left: 0;
    opacity: 1;
}

.modal_wrapper {
    position: fixed;
    top: 0;
    right: -650px; /* Start off-screen */
    width: 650px;
    height: 100%;
    background-color: #fff;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10002;
    opacity: 1;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.modal_wrapper.show {
    right: 0;
    opacity: 1;
}

.modal_wrapper_small {
    position: fixed;
    top: 0;
    right: -400px; /* Start off-screen */
    width: 400px;
    height: 100%;
    background-color: #fff;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10002;
    opacity: 1;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.modal_wrapper_small.show {
    right: 0;
    opacity: 1;
}



.modal_wrapper.modal--iceberg {
    padding: 0;
    height: 100%
}

.modal_wrapper.modal--iceberg .modal_content {
    position: fixed
}

.modal--isOpen {
    display: block !important;
}

.modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    padding: 0;
    z-index: 10000;
    border-radius: 100%;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}


.modal_titleBar {
    width: 650px;
    height: 64px;
    background-color: #fff;
    top: 0;
    right: 0;
    overflow: hidden;
    position: relative;
    z-index: 2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #d5d5d5;
    border-bottom: none
}

.modal_titleBar_small {
    width: 400px;
    height: 64px;
    background-color: #fff;
    top: 0;
    right: 0;
    overflow: hidden;
    position: relative;
    z-index: 2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #d5d5d5;
    border-bottom: none
}

.footer-link {
    color: white;
    text-decoration: none;
}


            /* Modal Content */
            .modal_content {
                padding: 20px;
            }

            /* Modal Title Bar */
            .modal_titleBar {
                padding: 10px;
            }

            /* Close Button */
            .modal_close_container {
                text-align: right;
            }

            .modal_close {
                cursor: pointer;
                background: none;
                border: none;
                font-size: 20px;
                color: #333;
            }

            /* Other Modal Styles */
            .payment-name {
                font-size: 20px;
                font-weight: 500;
            }

            .payment {
                display: flex;
                align-items: center;
                font-family: 'Poppins', sans-serif;
            }

            .mobile {
                display: none;
            }

            .desktop {
                display: block;
            }

            @media only screen and (max-width: 992px) {
                .mobile {
                    display: block;
                }

                .desktop {
                    display: none;
                }
            }

.radioCor input[type="radio"] {
    display: none;
    transform:scale(2);
}

.radioCor {
    padding: 20px;
    display: inline-block;
    gap: 20px;
}

.radioCor label {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display:inline-block;
}

.radioCor input[type="radio"]:checked + label {
    border: 4px solid #FFFFFF; /*Cor da border quando o radio ta clicado; podes mudar esta cor*/
    width: 22px;
    height: 22px;
}

#radio_CstnClaro + label{
        background-color: #674d28; 
}
#radio_CstnEscuro + label{
        background-color: #45341c; 
}
#radio_Preto + label{
        background-color: #33271d; 
}

#overlay {
    position: fixed;
    top: 11.6%;
    left: -36.8%;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

#overlayText{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
}